/* Form */
body {
  font-family: 'arial';
  font-size: 18px;
}
.container {
  margin: 0px auto;
  padding: 100px 100px;
  width: 900px;
  background-image: url(../img/book-books-bookshelf-159621.jpg);
}
.form, .teacher {
  background: #f2f2f2;
  max-width: 300px;
  margin: 0px auto;
  padding: 20px;
  border-radius: 3px;
  opacity: 0.8;
}
.teacher {
  margin-bottom: 20px;
  font-size: 24px;
  text-align: center;
}
.form p {
  text-align: left;
  padding: 0px;
  margin: 0px;
}
.form input {
  background: #FFFFFF;
  width: 100%;
  border: 0;
  margin: 10px 0px 20px;
  padding: 10px;
  border-radius: 5px;
  box-sizing: border-box;
  text-align: left;
  font-size: 16px;
}
input[type="checkbox"]{
  margin: 0px;
  width: 0px;
}
.form button {
  margin-top: 10px;
  background-color: #17A2B8;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  color: #FFFFFF;
  font-size: 18px;
  cursor: pointer;
}